@mixin flex-col {
  display: flex;
  flex-flow: column;
}
@mixin flex-row {
  display: flex;
  flex-flow: row;
}

@mixin pointer {
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
