@use "../../../core.scss";
@use "../../../cl.scss";

.regular-wrapper {
  @include cl.flex-col;
  flex: 1;

  gap: core.$space-0;

  .slide-wrapper {
    background: core.$color-surface;
  }

  .actions {
    @include cl.flex-row;

    background: core.$color-surface;
    justify-content: flex-end;
    align-items: center;
    gap: core.$space-4;
    padding-inline: core.$space-4;

    button {
      padding: core.$space-1;
      text-transform: uppercase;

      border: core.$space-0 solid core.$color-border;
      background: core.$color-primary;
      color: core.$color-primary-tint;

      font-size: 1.5em;
      padding-inline: core.$space-4;

      @include cl.pointer;

      &:hover {
        color: core.$color-surface;
        background: core.$color-primary-hover;
      }
    }
  }
}
